<!DOCTYPE html>
<html>
<head>
  <title>Success</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Success</h1>
  <p>User Info:</p>
  <p><strong>Private IP Address:</strong> <%= userInfo.private_ip %></p>
  <p><strong>Public IP Address:</strong> <%= userInfo.public_ip %></p>
  <p><strong>IP2:</strong> <%= userInfo.ip2 %></p>
  <p><strong>Device INFO:</strong> <%= userInfo.device %></p>
  <p><strong>Browser:</strong> <%= userInfo.browser %></p>
  <p><strong>Location:</strong> <%= userInfo.location %></p>
</body>
</html>
