<!DOCTYPE html>
<html>
<head>
  <title>Success</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>Success</h1>
  <p>User Info:</p>
  <p><strong>IP Address:</strong> <%= userInfo.ip %></p>
  <p><strong>Device:</strong> <%= userInfo.device %></p>
  <p><strong>OS:</strong> <%= userInfo.os %></p>
  <p><strong>Browser:</strong> <%= userInfo.browser %></p>
  <p><strong>Location:</strong> <%= userInfo.location %></p>
</body>
</html>
